python==3.11.9 # python 3.11 is necessary for compatibility with CUDA for GPU support
--index-url https://download.pytorch.org/whl/cu118

hf_xet==1.2.0
jupyterlab==4.5.0
lightning==2.6.0
pandas==2.3.3
scikit-learn==1.7.2
torchaudio==2.7.1
torchvision==0.22.1
transformers==4.57.3